* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191765;
  font-family: "Roboto", sans-serif;
}

/* First Section */
.first-section {
  background: url("img/top-circles.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

ul {
  list-style: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 3%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  margin: 1rem 0;
  padding: 0 16px;
  color: #f1f0f5;
}

.navbar .logo {
  width: 46%;
  padding-left: 1rem;
  font-size: 1rem;
}

.material-symbols-outlined {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 8rem;
}

main h1 {
  text-align: center;
  color: #7d73fc;
  font-weight: 700;
  font-size: 42px;
  line-height: 72px;
}

main h2 {
  text-align: center;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  color: #edecff;
  margin-bottom: 3rem;
}

main p {
  color: #c8c8d4;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem;
}

.hr {
  display: block;
  color: #515068;
  width: 327px;
  height: 3px;
  margin: 2rem auto;
  border-radius: 50%;
}

.skils-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  gap: 24px;
}

.skils-container .cont {
  color: #6662c6;
  width: 45%;
}

.cont span {
  display: block;
  margin-bottom: 1rem;
  padding-left: 0.8rem;
}

.skils-container li {
  color: #d9d9ec;
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 2rem auto;
}

/* second section */
.card-container img {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.social a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social a {
  display: block;
  text-align: center;
  margin: 0 0.5rem;
}

.work {
  display: block;
  margin: 0 auto 4rem auto;
}

.navbar a {
  text-decoration: none;
}

.navbar a:link h3 {
  display: block;
  color: #c8c8d4;
  width: 7rem;
  font-size: larger;
}

.navbar a:visited h3 {
  display: block;
  border: 2px solid;
  color: #c8c8d4;
}

/* SECOND SECTION */

.second-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-content: center;
  background: url("img/portfolio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: fit-content;
}

.work-titl {
  font-size: 40px;
  font-weight: 500;
  color: #9490ff;
  width: 75%;
  padding: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.work-titl-2 {
  color: #fff;
  padding: 2rem 1rem;
  font-weight: 500;
  width: 100%;
  font-size: 40px;
  margin-bottom: 1rem;
}

.card-container p {
  color: #dcdce8;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.list-container ul {
  display: flex;
  justify-content: space-around;
  color: #d9d9ec;
  padding-left: 0;
  margin-bottom: 1rem;
}

.list-container li {
  border-right: 2px solid #555;
  width: auto;
  padding-right: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.list-container .ruby {
  border: none;
}

.btn {
  background-color: #7d73fc;
  color: #edecff;
  border: none;
  width: 89px;
  height: 48px;
  margin: 1rem;
  font-weight: 500;
  font-size: 12px;
}

.cv-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

/**** Contact us ****/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .contact-p{
  color: #fff;
  text-align: center;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#user_name,
#user_mail {
  background-color: #fff;
  width: 327px;
  height: 40px;
  margin-bottom: 0.5rem;
}

#user_mail:focus {
  border: 1px solid #9490ff;
}

#user_text {
  width: 327px;
  height: 148px;
  background-color: #fff;
}

.form-btn {
  display: block;
  width: 89px;
  height: 40;
  color: #edecff;
  background-color: #7d73fc;
  font-weight: 500;
  font-size: 12px;
  margin: 0.5rem auto;
}

.form-btn:hover {
  box-shadow: rgb(168, 168, 168) 3px 3px 5px;
  transition: all ease 0.5s;
}

.form-btn:focus {
  background-color: #3b36c4;
}

.form-btn:visited {
  background-color: #3b36c4;
}

.form-btn:disabled {
  background-color: gray;
}

footer h6 {
  color: #ebebff;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}
